

{% extends "template.html" %}

{% load static %}
{% block title %}
    Lista de Usuarios
{% endblock %}

{% block content %}

<style>
    .imagemProdutos{
        width: 11%;
        background: #fff;
        position: inherit;
        border: 1px solid rgba(52, 73, 94, 0.44);
        padding: 7px;
        border-radius: 50%;
    }

    .table td, .table th {
        vertical-align: middle !important;

    }
    
    .form-check-input {
        margin-top: 0.3rem !important  ;
        margin-left: 0.75rem !important;
    }
    
</style>

<div class="wrapper">
    {% include 'includes/sidebar.html' %}
    {% include 'includes/navbar.html' %} 

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6 d-flex align-items-center">
                        <h1 class="mr-3"> Usuarios </h1> <!-- Adicionei a classe mr-3 -->
                        <button type="button" class="btn btn-sm btn-success" data-toggle="modal" data-target="#adicionarModal">
                            Adicionar Usuario
                        </button>
                    </div>
                </div>
                
            </div><!-- /.container-fluid -->
        </section>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Lista de Usuarios</h3> 
                            </div>
                            <div class="card-body">
                                <table id="example1" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="text-center">N°</th>
                                            <th class="text-center">Imagem</th>
                                            <th class="text-center">Usuario</th>
                                            <th class="text-center">E-mail</th>
                                            <th class="text-center">Nome Completo</th>
                                            <th class="text-center">Status</th>
                                            <th class="text-center">Grupos</th>
                                            <th class="text-center">Ação</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for usuario in usuarios %}
                                            <tr>
                                                <td class="text-center">{{ forloop.counter }}</td>
                                                <td class="text-center">
                                                    {% if usuario.perfil.foto_perfil %}
                                                        <img src="{{ usuario.perfil.foto_perfil.url }}" alt="Foto de perfil" width="50" height="50">
                                                    {% else %}
                                                        <img src="{% static 'images/default-avatar.jpg' %}" alt="Imagem padrão" width="50" height="50">
                                                    {% endif %}
                                                </td>
                                                <td class="text-center">{{ usuario.username }}</td>
                                                <td class="text-center">{{ usuario.email }}</td>
                                                <td class="text-center">{{ usuario.get_full_name }}</td>
                                                <td class="text-center">
                                                    {% if usuario.is_active %}
                                                        <span class="badge badge-success">Ativo</span>
                                                    {% else %}
                                                        <span class="badge badge-danger">Inativo</span>
                                                    {% endif %}
                                                </td>
                                                <td class="text-center">
                                                    {% for group in usuario.groups.all %}
                                                        <span class="badge badge-info">{{ group.name }}</span>
                                                    {% endfor %}
                                                </td>
                                                <td class="text-center">
                                                    <button type="button" class="btn btn-sm btn-warning" 
                                                            data-toggle="modal" 
                                                            data-target="#editarModal" 
                                                            data-id="{{ usuario.id }}" 
                                                            data-username="{{ usuario.username }}" 
                                                            data-email="{{ usuario.email }}" 
                                                            data-first_name="{{ usuario.first_name }}" 
                                                            data-last_name="{{ usuario.last_name }}" 
                                                            data-is_active="{{ usuario.is_active }}"
                                                            data-grupos="{{ usuario.groups|join:',' }}" 
                                                            data-foto_perfil="{{ usuario.perfil.foto_perfil.url }}">
                                                        Editar
                                                    </button>
                                                    <a href="{% url 'excluir_usuario' usuario.id %}" class="btn btn-sm btn-danger" onclick="return confirm('Tem certeza que deseja excluir este usuário?');">Excluir</a>
                                                </td>
                                                
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>           
</div>


<!-- Modal para Editar Usuario -->
<div class="modal fade" id="editarModal" tabindex="-1" role="dialog" aria-labelledby="editarModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-warning">
                <h5 class="modal-title text-dark" id="editarModalLabel">Editar Usuário</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Formulário de Edição -->
                <form method="post" id="editarForm" action="/usuarios/usuarios/cadastra-atualiza-usuario/" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="usuario_id" id="usuario_id" value="{{ usuario.id }}">
            
                    <div class="form-group">
                        <label for="id_username">Usuário:</label>
                        <input type="text" name="username" class="form-control" maxlength="150" required="" id="id_username">
                    </div>
            
                    <div class="form-group">
                        <label for="id_email">Endereço de email:</label>
                        <input type="email" name="email" class="form-control" maxlength="254" id="id_email">
                    </div>
            
                    <div class="form-group">
                        <label for="id_first_name">Primeiro nome:</label>
                        <input type="text" name="first_name" class="form-control" maxlength="150" id="id_first_name">
                    </div>
            
                    <div class="form-group">
                        <label for="id_last_name">Último nome:</label>
                        <input type="text" name="last_name" class="form-control" maxlength="150" id="id_last_name">
                    </div>
            
                    <div class="form-group">
                        <label for="id_is_active">Ativo:</label>
                        <input type="checkbox" name="is_active" class="form-check-input" id="id_is_active">
                    </div>
            
                    <select id="id_grupos" name="grupos" class="form-control" multiple>
                        {% for grupo in grupos %}
                            <option value="{{ grupo.id }}" {% if grupo.id in grupos_selected %}selected{% endif %}>
                                {{ grupo.name }}
                            </option>
                        {% endfor %}
                    </select>
                    
                    
                    <div class="form-group">
                        <label for="foto_perfil">Imagem de Perfil</label>
                        <input type="file" name="foto_perfil" id="foto_perfil" class="form-control" accept="image/*">
                        <img id="foto_perfil_preview" class="img-fluid mt-3" src="" alt="Imagem de Perfil" style="max-height: 150px; display: none;">
                    </div>
            
                    <button type="submit" class="btn btn-warning w-100">Atualizar Usuário</button>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Modal para Adicionar Usuário -->
<div class="modal fade" id="adicionarModal" tabindex="-1" role="dialog" aria-labelledby="adicionarModalLabel" aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header bg-success">
                <h5 class="modal-title text-light" id="adicionarModalLabel">Adicionar Usuário</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Formulário de Usuário -->
                <form id="usuarioForm" method="post" action="{% url 'cadastrar_atualizar_usuario' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }} 
                    <button type="submit" class="btn btn-success w-100">Cadastrar Usuário</button>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Modal para Excluir produto (apenas um, fora do loop) -->
<div class="modal fade" id="excluirModal" tabindex="-1" role="dialog" aria-labelledby="excluirModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <h5 class="modal-title text-light" id="excluirModalLabel">Excluir produto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Você tem certeza que deseja excluir esta produto: <strong id="produtoNome"></strong>?</p>
                <form method="post" id="excluirForm" action="">
                    {% csrf_token %}
                    <input type="hidden" name="produto_id" id="excluir_produto_id">
                    <button type="submit" class="btn btn-danger w-100">Excluir</button>
                </form>
            </div>
        </div>
    </div>
</div>


{% block extra_scripts %}
    <script>
        $(document).ready(function () {
            // Quando o botão de editar for clicado
            $('#editarModal').on('show.bs.modal', function (event) {
                // Botão que abriu o modal
                var button = $(event.relatedTarget);
            
                // Recupera os dados dos atributos data-* do botão
                var usuarioId = button.data('id');
                var username = button.data('username');
                var email = button.data('email');
                var firstName = button.data('first_name');
                var lastName = button.data('last_name');
                var isActive = button.data('is_active') === true || button.data('is_active') === 'true'; // Converte para booleano
                var grupos = button.data('grupos').split(','); // Converte os IDs dos grupos para array
                var fotoPerfil = button.data('foto_perfil');
            
                // Preenche os campos do modal com os dados
                $('#usuario_id').val(usuarioId);
                $('#id_username').val(username);
                $('#id_email').val(email);
                $('#id_first_name').val(firstName);
                $('#id_last_name').val(lastName);
                
                // Checkbox de ativo (marca ou desmarca)
                $('#id_is_active').prop('checked', isActive);
            
                // Se houver foto de perfil, exibe a imagem
                if (fotoPerfil) {
                    $('#foto_perfil_preview').attr('src', fotoPerfil).show(); // Exibe a foto de perfil
                } else {
                    $('#foto_perfil_preview').hide(); // Caso não tenha foto, esconde a preview
                }
            
                // Para os grupos, você pode marcar os grupos que o usuário já possui
                $('#id_grupos').val(grupos); // Este método de jQuery seleciona os grupos corretos
            });
            
            
            
            
            // Quando o botão de excluir for clicado
            $('button[data-target="#excluirModal"]').on('click', function () {
                var produtoId = $(this).data('id');
                var produtoNome = $(this).data('nome');

                // Atualiza o nome no modal de exclusão
                $('#produtoNome').text(produtoNome);

                // Define a URL de exclusão com o ID da produto no `action`
                var excluirUrl = "{% url 'excluir_produto' 0 %}".replace('0', produtoId);
                $('#excluirForm').attr('action', excluirUrl);
            });

           

        });
    </script>
{% endblock %}

{% endblock %}
