

{% extends "template.html" %}

{% load static %}
{% block title %}
    Configurações
{% endblock %}

{% block content %}
<div class="wrapper">
    {% include 'includes/sidebar.html' %}
    {% include 'includes/navbar.html' %} 

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6 d-flex align-items-center">
                        <h1 class="mr-3"> Painel de Configurações </h1> <!-- Adicionei a classe mr-3 -->
                    </div>
                </div>
                
            </div><!-- /.container-fluid -->
        </section>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Lista de clientes</h3> 
                            </div>
                            <div class="card-body">   
                                <h2 class="py-3" >Estamos trabalhando nosso...</h2>

                                <form method="post">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    <button type="submit">Salvar Configuração</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        </div> 
            
</div>

{% block extra_scripts %}

{% endblock %}

{% endblock %}


                