{% load static %}
<!-- Navbar -->
<nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>

        <!-- Link de Sair -->
        <li class="nav-item d-none d-md-inline-block">
            <a href="{% url 'logout' %}" class="nav-link"><i class="fas fa-power-off"></i> Sair</a>
        </li>

        <!-- Link de Vendas -->
        <li class="nav-item d-none d-md-inline-block">
            <a href="{% url 'listar_caixa' %}" class="nav-link"><i class="fas fa-file-alt"></i> Vendas</a>
        </li>

        <!-- Link de Mesas -->
        <li class="nav-item d-none d-md-inline-block">
            <a href="{% url 'listar_mesas' %}" class="nav-link"><i class="fas fa-chair"></i> Mesas</a>
        </li>

        <!-- Link de Caixa -->
        <li class="nav-item d-none d-md-inline-block">
            <a href="{% url 'abrir_caixa_pdv' %}" class="nav-link"><i class="fas fa-shopping-cart"></i> Caixa</a>
        </li>

        <li class="nav-item d-none d-md-inline-block" {% if not gerenciar_abertura_fechamento_caixa %} style="display:none;" {% endif %}>
          <a class="nav-link">Status Caixa: <span class="badge bg-success">{{ status_caixa }}</span></a>
      </li>
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav nav-mobile ml-auto">
        <!-- Status Caixa -->
        

        <!-- Licença Expirada ou Vencendo -->
        <li class="nav-item dropdown py-2">
            {% if days_remaining is not none %}
                {% if days_remaining > 3 %}
                    <span class="badge bg-success">Validade: {{ days_remaining }} dias</span>
                {% elif days_remaining > 0 %}
                    <span class="badge bg-warning">Validade: {{ days_remaining }} dias</span>
                {% elif days_remaining == 0 %}
                    <span class="badge bg-danger">Licença vai vencer Hoje</span>
                {% else %}
                    <span class="badge bg-danger">Licença Expirada</span>
                {% endif %}
            {% else %}
                <span class="badge bg-danger">Sem Licença Ativa</span>
            {% endif %}
        </li>

        <!-- Dropdown de Notificações -->
        <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#">
                <i class="fas fa-bell"></i>
                <span class="badge badge-warning">0</span>
            </a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                <span class="dropdown-item dropdown-header">Notificações</span>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item text-muted">
                    <i class="fas fa-exclamation-triangle mr-2" style="color: #FFD43B;"></i> Nada - Qt: 0
                </a>
                <div class="dropdown-divider"></div>
            </div>
        </li>

        <!-- Fullscreen Toggle -->
        <li class="nav-item">
            <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                <i class="fas fa-expand-arrows-alt"></i>
            </a>
        </li>

        <!-- Control Sidebar -->
        <li class="nav-item">
            <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
                <i class="fas fa-th-large"></i>
            </a>
        </li>
    </ul>
</nav>
<!-- /.navbar -->
