{% load static %}
<!-- Navbar -->
<nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>

      <li class="nav-item d-none d-sm-inline-block">
        <a href="{% url 'logout' %}" class="nav-link"><i class="fas fa-power-off"></i> Sair</a>
      </li>

      <li class="nav-item d-none d-sm-inline-block">
        <a href="{% url 'listar_caixa' %}" class="nav-link">
          <i class="fas fa-file-alt"></i> Vendas</a>
      </li>

      <li class="nav-item d-none d-sm-inline-block">
        <a href="{% url 'listar_mesas' %}" class="nav-link"> <i class="nav-icon fas fa-chair"></i>  MESAS</a>
      </li>

      <li class="nav-item d-none d-sm-inline-block">
        <a href="{% url 'abrir_caixa_pdv' %}" class="nav-link"> <i class="nav-icon fas fa-shopping-cart"></i>  CAIXA</a>
      </li>


    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      <!-- Navbar Search -->
      <li class="nav-item">
        <a class="nav-link" data-widget="navbar-search" href="#" role="button">
          <i class="fas fa-search"></i>
        </a>
        <div class="navbar-search-block">
          <form class="form-inline">
            <div class="input-group input-group-sm">
              <input class="form-control form-control-navbar" type="search" placeholder="buscar" aria-label="Search">
              <div class="input-group-append">
                <button class="btn btn-navbar" type="submit">
                  <i class="fas fa-search"></i>
                </button>
                <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </li>

      <!-- Messages Dropdown Menu -->
      <li class="nav-item dropdown py-2">
        {% if days_remaining is not none %}
            {% if days_remaining > 3 %}
                <span style="color: #28a745;">Válidade: {{ days_remaining }} dias</span>  <!-- Verde para mais de 3 dias -->
            {% elif days_remaining > 0 %}
                <span style="color: #ff0000;">Válidade: {{ days_remaining }} dias</span>  <!-- Vermelho para 3 dias ou menos -->
            {% elif days_remaining == 0 %}
                <span style="color: #ff0000;">Licença Vencida Hoje</span>  <!-- Caso a licença expire no dia de hoje -->
            {% else %}
                <span style="color: #ff0000;">Licença Expirada</span>  <!-- Vermelho se a licença já expirou -->
            {% endif %}
        {% else %}
            <span style="color: #ff0000;">Sem Licença Ativa</span>  <!-- Caso o usuário não tenha uma licença instalada -->
        {% endif %}
      </li>
    
    

      <!-- Notifications Dropdown Menu -->
        <li class="nav-item dropdown">
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                <span class="dropdown-item dropdown-header">Notificações</span>

                    <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item text-muted">
                            <i class="fas fa-exclamation-triangle mr-2" style="color: #FFD43B;"></i></i> Nada - Qt: 0
                        </a>
                        <div class="dropdown-divider"></div>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                <i class="fas fa-expand-arrows-alt"></i>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
                <i class="fas fa-th-large"></i>
            </a>
        </li>

    </ul>
</nav>
  <!-- /.navbar -->
