{% extends "template.html" %}

{% load static %}
{% block title %}
    Caixa direto
{% endblock %}

{% block content %}


<div class="wrapper">
    {% include 'includes/sidebar.html' %}
    {% include 'includes/navbar.html' %} 
    <div class="content-wrapper py-2">
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                
                                <div class="row py-3">
                                    <div class="col">
                                        <label for="numero_pedido" class="form-label">Número do Pedido:</label>
                                        <input type="text" id="numero_pedido" class="form-control" value="" readonly>
                                    </div>
                                    <div class="col">
                                        <label for="vendedor" class="form-label">Vendedor:</label>
                                        <input type="hidden" id="vendedor" class="form-control" value="{{ user.id }}">
                                        <input type="hidden" id="venda_id" class="form-control" value="">

                                        <input type="text" id="nomeVendedor" class="form-control" value="{{ user.username }}" readonly>
                                    </div>
                                    <div class="col">
                                        <label for="satus" class="form-label">Satus:</label>    
                                        <input type="text" id="status" class="form-control" value="Em Aberto" readonly>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    
                                    <div class="col-md-9">
                                        <div class="card py-3">
                                            <div class="card-body d-flex flex-column background-card" style="height: 400px;">
                                                
                                                <div class="row py-2">
                                                    <div class="col">
                                                        <!-- Contêiner para listar produtos com rolagem -->
                                                        <div id="cart-items" class="overflow-auto" style="max-height: 380px;">
                                                            <!-- Produtos serão adicionados aqui dinamicamente -->
                                                        </div>
                                                    </div>
                                                </div>
                                            
                                            </div>
                                        </div>
                                        
                                        <!-- Botão fixado na parte inferior -->
                                        <div class="mt-auto">
                                            <button class="btn btn-success w-100" onclick="listaProdutos();">
                                                <i class="fa fa-shopping-cart"></i>  <strong>ADICIONAR PRODUTO [ Alt + A ]</strong>
                                            </button>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-3">
                                        <div class="card shadow-sm border-0">
                                            <div class="card-body">
                                                <!-- Ícone de carrinho grande ao fundo -->
                                                <div class="row py-2 position-relative">
                                                    <div id="empty-cart-icon" class="empty-cart-icon d-flex justify-content-center align-items-center w-100">
                                                        <i class="fa fa-shopping-cart" style="font-size: 100px; color: #ddd;"></i>
                                                    </div>
                                                </div>
                                    
                                                <!-- Título Resumo -->
                                                <h3 class="text-center text-secondary my-3">CAIXA</h3>
                                    
                                                <!-- Campo de Desconto -->
                                                <div class="row mb-3">
                                                    <div class="col">
                                                        <label for="discount" class="form-label text-muted">Desconto (R$):</label>
                                                        <input type="number" id="discount" class="form-control" value="0" min="0" oninput="calculateTotal()">
                                                    </div>
                                                </div>
                                    
                                                <!-- Total -->
                                                <label for="total" class="form-label text-muted">Total:</label>
                                                <div class="row mb-3">
                                                    <div class="col text-center">
                                                        <div class="bg-light p-3 rounded" style="border: 1px solid #ddd;">
                                                            <h2 class="m-0" style="font-size: 45px; color: #e74c3c; font-weight: bold;">R$ <span id="total">0,00</span></h2>
                                                        </div>
                                                    </div>
                                                </div>
                                    
                                                <!-- Botão Finalizar -->
                                                <div class="row mb-2">
                                                    <div class="col">
                                                        <button class="btn btn-success w-100 py-2" onclick="finalizeSale('Finalizado')">
                                                            <strong>FINALIZAR [ Alt + F ]</strong>
                                                        </button>
                                                    </div>
                                                </div>
                                    
                                                <!-- Botão Salvar -->
                                                <div class="row">
                                                    <div class="col">
                                                        <button class="btn btn-warning w-100 py-2" onclick="finalizeSale('Em aberto')">
                                                            <strong>SALVAR [ Alt + S ]</strong>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
      </div>    
</div>


<!-- Modal Produtos -->
<div class="modal fade" id="productModal" tabindex="-1" aria-labelledby="productModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-success text-white"> <!-- Estilizando o cabeçalho -->
                <h5 class="modal-title" id="detalhesModalLabel">Selecionar Produto</h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close"> <!-- Cor branca no botão de fechar -->
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row py-1">
                    <div class="col">
                        <div id="category-filters" class="mb-3"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="input-group mb-3">
                            <input type="text" id="filtrar_produto" class="form-control" placeholder="Buscar produto..." aria-label="Buscar produto">
                        </div>
                    </div>
                </div>
                
                <!-- Container para exibir a lista de produtos em formato de lista -->
                <div id="product-list" class="d-flex flex-column overflow-auto" style="max-height: 400px;">
                    <!-- Produtos serão renderizados aqui dinamicamente -->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal para Seleção de Forma de Pagamento -->
<div class="modal fade" id="paymentModal" tabindex="-1" aria-labelledby="paymentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-success text-white">
                <h5 class="modal-title" id="detalhesModalLabel">Forma de Pagamento</h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="payment-form">
                    <div class="mb-3">
                        <div class="row py-2">
                            <div class="col">
                                <label for="cliente" class="form-label">Cliente:</label>
                                <input type="text" id="cliente" class="form-control" placeholder="Digite o nome do cliente">
                                <input type="hidden" id="cliente_id" name="cliente_id"> <!-- Campo oculto para armazenar o ID -->
                            </div>
                        </div>
                        
                        <label for="payment_method" class="form-label">Forma de Pagamento</label>
                        <select id="payment_method" class="form-select form-control" required onchange="toggleCashInput()">
                            <option value="" selected disabled>Escolha uma opção</option>
                            <option value="Dinheiro">Dinheiro</option>
                            <option value="Pix">Pix</option>
                            <option value="Cartão de Debito">Cartão de Debito</option>
                            <option value="Cartão de Crédito">Cartão de Crédito</option>
                        </select>
                    </div>

                    <!-- Valor Recebido e Botões de Troco Rápido -->
                    <div class="mb-3" id="cash-input" style="display: none;">
                        <label for="cash-received" class="form-label">Valor Recebido (R$)</label>
                        <input type="text" class="form-control" id="cash-received" oninput="calculateChange()" min="0" value="0,00">
                        
                        <div class="quick-cash-buttons mt-2 py-2 text-center">
                            <button type="button" class="btn btn-success" onclick="setCashReceived(2)">2</button> <!-- Botão de R$ 2,00 -->
                            <button type="button" class="btn btn-success" onclick="setCashReceived(5)">5</button>
                            <button type="button" class="btn btn-success" onclick="setCashReceived(10)">10</button>
                            <button type="button" class="btn btn-success" onclick="setCashReceived(20)">20</button>
                            <button type="button" class="btn btn-success" onclick="setCashReceived(50)">50</button>
                            <button type="button" class="btn btn-success" onclick="setCashReceived(100)">100</button>
                            <button type="button" class="btn btn-success" onclick="setCashReceived(200)">200</button>
                            <button type="button" class="btn btn-danger" onclick="clearCashReceived()">Limpar</button> <!-- Botão para limpar -->
                        </div>

                        <small id="change-output" class="form-text text-center" style="background: #e2e2e2;font-size: xx-large;padding: 2%;border-radius: 0.25rem;color: #009b23;font-weight: 800;">
                            Troco: R$ <span id="change">0,00</span>
                        </small>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success w-100" id="confirm-payment" onclick="finalizePayment()">CONFIRMAR</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal de Sucesso -->
<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <!-- Ícone de confirmação com animação -->
                <div id="checkmark-animation" class="checkmark">
                    <div class="checkmark-circle"></div>
                    <div class="checkmark-stem"></div>
                    <div class="checkmark-kick"></div>
                </div>
            </div>
            <div class="modal-body text-center">
                <h5 class="modal-title mb-3" id="successModalLabel">Concluído</h5>
                <p>Operação concluída com sucesso!</p>
            </div>
        </div>
    </div>
</div>

<!-- Modal de Error -->
<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <!-- Ícone de confirmação com animação -->
                <div id="error-animation" class="error">
                    <div class="error-circle"></div>
                    <div class="error-stem"></div>
                    <div class="error-kick"></div>
                </div>
            </div>
            <div class="modal-body text-center">
                <h5 class="modal-title mb-3" id="errorModalLabel">Erro ao Finalizar</h5>
                <p>Tente novamente ou chame o suporte!</p>
            </div>
        </div>
    </div>
</div>




{% block extra_scripts %}
    <!--Sistema PDV Ajax -->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const saleId = {{ pedido.id | default:"null" }};  // Define null se 'pedido.id' não existir
            
            // Verifica se o ID da venda é válido e maior que zero
            if (saleId && saleId > 0) {  
                fetchSaleDetails(saleId);
            } else {
                console.warn('ID da venda não está definido ou é inválido. Detalhes da venda serão ignorados.');
            }
        });

        function fetchSaleDetails(saleId) {
            if (!saleId) {
                console.warn('Nenhum ID de venda fornecido. Nenhum produto será adicionado ao carrinho.');
                return;
            }
        
            $.ajax({
                url: `{% url 'admin.caixa.idVenda' '0' %}`.replace('0', saleId),
                method: 'GET',
                dataType: 'json',
                success: function(data) {
                    document.getElementById('venda_id').value = data.id;
                    document.getElementById('numero_pedido').value = data.numero_pedido;
                    document.getElementById('vendedor').value = data.vendedor.id;
                    document.getElementById('status').value = data.status;
                    document.getElementById('discount').value = data.desconto;
                    document.getElementById('total').value = data.total;  
        
                    if (data.produtos && data.produtos.length > 0) {
                        data.produtos.forEach(product => {
                            // Define a imagem a ser usada: produto, categoria, ou imagem padrão
                            const productImage = product.produto.file || (product.produto.categoria && product.produto.categoria.file) || '/media/no_image.png';
                    
                            addProduct({
                                id: product.produto.id,
                                nome: product.produto.nome,
                                preco: product.preco_unitario,
                                file: productImage, // Usa a imagem conforme a lógica definida
                                quantity: product.quantidade, // Usa a quantidade do produto
                                codigoBarras: product.produto.codigoBarras || "", 
                                categoria: product.produto.categoria ? product.produto.categoria.nome : "" // Nome da categoria, se houver
                            }, product.quantidade); // Passa a quantidade correta
                        });
                    } else {
                        console.warn('Nenhum produto encontrado para esta venda.');
                    }
        
                    console.log('Carrinho atualizado:', cart);
                },
                error: function(xhr, status, error) {
                    console.error('Erro:', error);
                }
            });
        }
        

        // Array para armazenar os produtos adicionados 

        let cart = [];

        function addProduct(product, quantity = 1) {
            const existingProductIndex = cart.findIndex(item => item.id === product.id);

            if (existingProductIndex > -1) {
                // Se o produto já existe no carrinho, aumente a quantidade
                cart[existingProductIndex].quantity += quantity; // Incrementa a quantidade corretamente
                updateQuantity(existingProductIndex);
                toastr.info(`A quantidade do produto "${product.nome}" foi atualizada.`);
            } else {
                // Adicionar novo produto ao carrinho com a quantidade especificada
                const newProduct = {
                    name: product.nome,
                    codigoBarras: product.codigoBarras,
                    id: product.id,
                    quantity: quantity, // Define a quantidade personalizada aqui
                    price: parseFloat(product.preco),
                    total: parseFloat(product.preco) * quantity,
                    file: product.file,
                    categoria: product.categoria
                };

                cart.push(newProduct);
                updateQuantity(cart.length - 1); // Passa o índice do novo produto
                toastr.success(`Produto "${product.nome}" adicionado ao carrinho.`);
            }

            renderCart();
        }

        function renderCart() {
            const cartItems = document.getElementById('cart-items');
            cartItems.innerHTML = '';
            
            // Itera sobre os produtos no carrinho começando do último item
            for (let originalIndex = cart.length - 1; originalIndex >= 0; originalIndex--) {
                const product = cart[originalIndex];
                let productImage = product.file || (product.categoria && product.categoria.file) || '/media/no_image.png';
                let codigoBarras = product.codigoBarras || 'N/D';

                // Estrutura em linha para cada produto
                cartItems.innerHTML += `
                    <div class="product-item d-flex align-items-center border-bottom py-2 px-3">
                        <img src="${productImage}" alt="${product.name}" class="product-image mr-3" style="width: 50px; height: auto;"/>
                        
                        <div class="product-info flex-grow-1 mr-3">
                            <h6 class="product-name mb-1 text-title"><strong>${product.name}</strong></h6>
                            <small class="text-muted"><strong>Código:</strong> ${codigoBarras}</small>
                            <p class="product-price mb-1">Preço Unitário: <strong>R$ ${parseFloat(product.price).toLocaleString('pt-BR', { minimumFractionDigits: 2 })}</strong></p>
                        </div>

                        <div class="product-quantity d-flex align-items-center mr-4">
                            <button onclick="decreaseQuantity(${originalIndex})" class="btn btn-sm text-title mr-1">
                                <i class="fas fa-minus-circle"></i>
                            </button>
                            <input type="number" value="${product.quantity}" min="1" class="form-control text-center" style="width: 70px; text-align: center;" onchange="updateQuantity2(${originalIndex}, this.value)">
                            <button onclick="increaseQuantity(${originalIndex})" class="btn btn-sm text-title ml-1">
                                <i class="fas fa-plus-circle"></i>
                            </button>
                        </div>

                        <div class="product-total text-right mr-4">
                            <p class="mb-1"><strong>R$ ${(product.quantity * parseFloat(product.price)).toLocaleString('pt-BR', { minimumFractionDigits: 2 })}</strong></p>
                        </div>

                        <button class="btn text-danger" onclick="removeProduct(${originalIndex})" style="margin-left: 10px;">
                            <i class="fa fa-times-circle"></i>
                        </button>
                    </div>
                `;
            }

            calculateTotal(); // Atualiza o total do carrinho
        }



        function generateOrderNumber() {
            return 'PDV-' + Math.floor(Math.random() * (9999 - 1000 + 1)) + 1000;
        }

        // Atalhos de acesso rápido
        $(document).ready(function() {

            // Atribui um número de pedido ao carregar a página
            $('#numero_pedido').val(generateOrderNumber());
            // Evento de atalho para finalizar a venda
            $(document).on('keydown', function(event) {
                if (event.altKey && event.key === 'f') { // Verifica se Alt + F foi pressionado
                    event.preventDefault(); // Impede o comportamento padrão (se necessário)
                    finalizeSale('Finalizado'); // Chama a função para finalizar a venda
                }
                if (event.altKey && event.key === 's') { // Verifica se Alt + F foi pressionado
                    event.preventDefault(); // Impede o comportamento padrão (se necessário)
                    finalizeSale('Em aberto'); // Chama a função para finalizar a venda
                }
                if (event.altKey && event.key === 'a') { // Verifica se Alt + A foi pressionado
                    event.preventDefault(); // Impede o comportamento padrão (se necessário)
                    listaProdutos(); // Chama a função para adicionar produto
                }
            });
        });


        function handleAddProduct(button) {
            const productData = JSON.parse(button.getAttribute('data-product'));
            const quantityInput = button.closest('.product-item').querySelector('.quantity-input');
            const quantity = parseInt(quantityInput.value) || 1; // Define 1 como padrão se o campo estiver vazio
        
            addProduct(productData, quantity);
            renderCart(); // Atualiza a exibição do carrinho
        }

        function matchCustom(params, data) {
            if ($.trim(params.term) === '') {
                return data;
            }

            if (data.text.toLowerCase().indexOf(params.term.toLowerCase()) > -1) {
                return data;
            }

            return null;
        }

        // Função para atualizar a quantidade de um produto no carrinho
        function updateQuantity(index, newQuantity) {
            // Lógica para atualizar a quantidade do produto no array 'cart'
            if (newQuantity > 0) {
                cart[index].quantity = parseInt(newQuantity);
                renderCart(); // Re-renderiza o carrinho para refletir a nova quantidade
            }
        }

        // Função para remover um produto do carrinho
        function removeProduct(index) {
            cart.splice(index, 1); // Remove o produto do array 'cart'
            renderCart(); // Re-renderiza o carrinho
        }

        // Função para calcular o total do carrinho
        function calculateTotal() {
            const totalElement = document.getElementById('total');
            const total = cart.reduce((accumulator, product) => accumulator + (product.quantity * parseFloat(product.price)), 0);
            
            // Atualiza o total sem o símbolo "R$" e com duas casas decimais
            totalElement.innerHTML = total.toLocaleString('pt-BR', { minimumFractionDigits: 2, maximumFractionDigits: 2 });
        }



        $(document).ready(function () {
            // Resetar campos quando a modal for aberta
            $('#paymentModal').on('show.bs.modal', function () {
                // Limpar o campo de valor recebido
                $('#cash-received').val('');
                // Resetar a exibição do troco
                $('#change').text('0.00');
            });
        });


        // Função para atualizar a quantidade do produto
        function updateQuantity(index) {
            cart[index].total = cart[index].quantity * cart[index].price; // Calcula o total
            renderCart();
        }

        // Função para aumentar a quantidade
        function increaseQuantity(index) {
            cart[index].quantity += 1;
            cart[index].total = cart[index].quantity * cart[index].price;
            renderCart();
        }

        // Função para diminuir a quantidade
        function decreaseQuantity(index) {
            if (cart[index].quantity > 1) {
                cart[index].quantity -= 1;
                cart[index].total = cart[index].quantity * cart[index].price;
                renderCart();
            }
        }

        // Função para atualizar a quantidade do produto via input
        function updateQuantity2(index, newQuantity) {
            cart[index].quantity = parseInt(newQuantity) || 1; // Certifica-se de que seja um inteiro e mínimo de 1
            cart[index].total = cart[index].quantity * cart[index].price;
            renderCart();
        }


        // Função para remover um produto do carrinho
        function removeProduct(index) {
            cart.splice(index, 1);
            renderCart();
        }

        function calculateTotal() {
            let total = cart.reduce((acc, product) => acc + product.total, 0);
            const discount = parseFloat(document.getElementById('discount').value) || 0;
            total = total - discount;
        
            // Atualiza o total sem o prefixo "R$"
            document.getElementById('total').innerText = total.toLocaleString('pt-BR', { minimumFractionDigits: 2, maximumFractionDigits: 2 });
        }        
        

        // Sistema de Cliente
        $(document).ready(function() {
            // Obtém o cliente padrão do contexto do Django
            var clientePadraoNome = "{{ cliente_padrao.nome|default:'' }}";  // Nome do cliente padrão
            var clientePadraoId = "{{ cliente_padrao.id|default:'' }}";      // ID do cliente padrão

            // Se houver um cliente padrão, preencha o campo automaticamente
            if (clientePadraoNome) {
                $('#cliente').val(clientePadraoNome);  // Preenche o nome no campo de entrada
                $('#cliente_id').val(clientePadraoId); // Armazena o ID do cliente no campo oculto
            }

            $('#cliente').autocomplete({
                source: function(request, response) {
                    $.ajax({
                        url: '{% url "search_client" %}',
                        dataType: 'json',
                        data: {
                            q: request.term  // Termo de busca digitado pelo usuário
                        },
                        success: function(data) {
                            response($.map(data, function(client) {
                                return {
                                    label: client.nome,  // Nome do cliente a ser mostrado
                                    value: client.nome,  // Valor a ser preenchido no campo de pesquisa
                                    id: client.id       // ID do cliente
                                };
                            }));
                        },
                        error: function(xhr, status, error) {
                            console.log("Erro ao buscar clientes: ", error);
                        }
                    });
                },
                minLength: 2,  // Mínimo de 2 caracteres para começar a busca
                select: function(event, ui) {
                    $('#cliente_id').val(ui.item.id);  // Armazena o ID do cliente selecionado
                    $('#cliente').autocomplete('close');  // Oculta a lista de sugestões
                },
                open: function() {
                    $('.ui-autocomplete').css('max-height', '200px').css('overflow-y', 'scroll');
                }
            });
        });
        

        // Bolsa de Itens
        function listaProdutos() {
            // Abrindo a modal de produtos
            $('#productModal').modal('show');
            
        }

        // Rederiza os produtos na modal
        $(document).ready(function() {
            let selectedCategoryId = null; // Armazena a categoria selecionada
            let allProducts = []; // Armazena todos os produtos
            let allCategories = []; // Armazena todas as categorias

            function loadProducts(data) {
                const productList = $('#product-list');
                productList.empty();
            
                if (data.length === 0) {
                    productList.append(`<div class="text-center py-3">Nenhum produto encontrado</div>`);
                } else {
                    let productItems = '';
            
                    data.forEach(product => {
                        const categoriaNome = product.categoria ? product.categoria.nome : 'Sem Categoria';
                        let productImage = product.file || (product.categoria && product.categoria.file) || '/media/no_image.png';
                        const precoFormatado = product.preco.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' });
            
                        productItems += `
                            <div class="product-item d-flex align-items-center border-bottom py-2 px-3"> 
                                <img src="${productImage}" alt="${product.nome}" class="mr-3" style="width: 50px; height: auto;">
                                
                                <div class="flex-grow-1">
                                    <h6 class="mb-1"><strong>${product.nome}</strong></h6>
                                    <p class="mb-1 text-muted">Categoria: ${categoriaNome}</p>
                                    <p class="mb-0 text-title"><strong>Preço: ${precoFormatado}</strong></p>
                                </div>
            
                                <div class="d-flex align-items-center">
                                    <input type="number" min="1" value="1" class="form-control quantity-input text-center mr-2" style="width: 60px;">
                                    <button class="btn btn-success btn-sm" data-product='${JSON.stringify(product)}' onclick="handleAddProduct(this)">
                                        <i class="fa fa-shopping-cart"></i> Adicionar
                                    </button>
                                </div>
                            </div>
                        `;
                    });
            
                    productList.append(productItems);
                }
            }
            // Evento para redefinir todos os campos de quantidade para 1 ao fechar a modal
            $('#productModal').on('hidden.bs.modal', function () {
                $('.quantity-input').val(1);
            });
            

            // Função para exibir os botões de filtro de categorias
            function loadCategoryFilters() {
                const categoryFilters = $('#category-filters');
                categoryFilters.empty(); // Limpa os botões

                categoryFilters.append(`<button class="btn btn-suave" style="margin-right: 10px;" onclick="filterByCategory(null)">Todas</button>`);
                
                allCategories.forEach(category => {
                    categoryFilters.append(`
                        <button class="btn btn-suave" onclick="filterByCategory(${category.id})">
                            ${category.nome}
                        </button>
                    `);
                });
            }

            // Função para filtrar produtos pelo nome e código de barras
            function filterProducts(query, categoryId) {
                let filteredProducts = allProducts;

                if (query) {
                    filteredProducts = filteredProducts.filter(product =>
                        product.nome.toLowerCase().includes(query.toLowerCase()) ||
                        (product.codigoBarras && product.codigoBarras.includes(query))
                    );
                }

                if (categoryId !== null) {
                    filteredProducts = filteredProducts.filter(product => product.categoria && product.categoria.id === categoryId);
                }

                loadProducts(filteredProducts); // Atualiza a tabela com os produtos filtrados

                return filteredProducts; // Retorna os produtos filtrados
            }

            // Função para buscar todos os produtos e categorias
            function fetchAllProductsAndCategories() {
                $.ajax({
                    url: '{% url "search_products" %}', // Atualize com a URL correta
                    method: 'GET',
                    data: { q: '', category_id: null },
                    success: function(data) {
                        // Converte os preços de venda para números
                        allProducts = data.products.map(product => ({
                            ...product,
                            preco: parseFloat(product.preco), // Conversão para número
                        }));

                        allCategories = data.categories; // Armazena todas as categorias

                        loadProducts(allProducts);     // Exibe todos os produtos
                        loadCategoryFilters();         // Exibe os filtros de categorias
                    },
                    error: function() {
                        // Trate o erro aqui
                    }
                });
            }

            // Chama a função para buscar todos os produtos e categorias ao carregar a página
            fetchAllProductsAndCategories();

            // Evento de busca de produtos pelo campo de texto
            $('#filtrar_produto').on('input', function() {
                const query = $(this).val();
                filterProducts(query, selectedCategoryId); // Filtra os produtos pelo texto e pela categoria selecionada
            });

            // Função para filtrar por categoria
            window.filterByCategory = function(categoryId) {
                selectedCategoryId = categoryId; // Armazena a categoria selecionada
                filterProducts($('#filtrar_produto').val(), categoryId); // Filtra os produtos com base no texto e na categoria
            };

            // Evento para adicionar produto ao pressionar Enter
            $('#filtrar_produto').on('keydown', function(event) {
                if (event.key === 'Enter') {
                    const query = $(this).val();
                    const filteredProducts = filterProducts(query, selectedCategoryId); // Filtra os produtos

                    if (filteredProducts.length === 1) {
                        const button = document.createElement('button');
                        button.dataset.product = JSON.stringify(filteredProducts[0]); // Passa o produto como JSON
                        handleAddProduct(button); // Chama a função com o botão
                    }
                }
            });
        });


        // Variável global para armazenar o valor total recebido
        let totalCashReceived = 0;

        // Função para definir o valor recebido e calcular o troco
        function setCashReceived(amount) {
            // Soma o valor recebido atual com o novo valor
            totalCashReceived += amount;
            
            // Define o valor acumulado no campo de entrada e formata para o padrão brasileiro
            document.getElementById('cash-received').value = totalCashReceived.toFixed(2).replace('.', ',');
            calculateChange(); // Recalcula o troco
        }

        // Função para calcular o troco
        function calculateChange() {
            const cashReceived = totalCashReceived; // Usa o valor total acumulado
            const totalAmount = parseFloat(document.getElementById('total').textContent.replace(',', '.')) || 0;
            const change = cashReceived - totalAmount;

            document.getElementById('change').textContent = change >= 0 ? change.toFixed(2).replace('.', ',') : '0,00';
        }

        // Função para limpar o valor recebido
        function clearCashReceived() {
            totalCashReceived = 0; // Reseta o total recebido
            document.getElementById('cash-received').value = '0,00'; // Limpa o campo de entrada
            calculateChange(); // Atualiza o troco para 0,00
        }

        // Evento para exibir/ocultar o campo de valor recebido com base na forma de pagamento
        function toggleCashInput() {
            // Obtém o valor selecionado da forma de pagamento
            var paymentMethod = document.getElementById('payment_method').value;
            
            // Verifica se a opção selecionada é "Dinheiro"
            if (paymentMethod === 'Dinheiro') {
                // Exibe o campo de entrada para o valor em dinheiro
                document.getElementById('cash-input').style.display = 'block';
            } else {
                // Oculta o campo de entrada para o valor em dinheiro
                document.getElementById('cash-input').style.display = 'none';
            }
        }


        // Função para finalizar a venda
        function finalizeSale(status) {
            if (status === 'Em aberto') {
                // Se o status for "Em aberto", finalize a venda diretamente
                saveSale(status);
            } else {
                // Armazena o status na modal e abre a modal de pagamento
                $('#paymentModal').data('saleStatus', status);
                $('#paymentModal').modal('show');
            }
        }

        // Função para salvar a venda
        function saveSale(status) {
            let venda_id = document.getElementById('venda_id').value;
            let numero_pedido = document.getElementById('numero_pedido').value;
            let vendedor_id = document.getElementById('vendedor').value;
            let cliente_id = $('#cliente_id').val();
            let discount = parseFloat(document.getElementById('discount').value) || 0; // Convertendo para float
            let total = document.getElementById('total').innerText;
        
            let totalInDollars = parseFloat(total.replace('R$', '').replace('.', '').replace(',', '.'));
        
            if (!numero_pedido || !vendedor_id || !total) {
                alert('Algum campo obrigatório está faltando.');
                return;
            }
        
            let produtos = cart.map(item => ({
                produto_id: item.id,
                quantidade: item.quantity,
                preco_unitario: item.price
            }));
        
            let saleData = {
                venda_id: venda_id,
                numero_pedido: numero_pedido,
                vendedor_id: vendedor_id,
                cliente_id: cliente_id,
                desconto: discount.toFixed(2), // Mantendo 2 casas decimais
                total: totalInDollars.toFixed(2),
                status: status,
                produtos: produtos
            };
        
            fetch('/caixa/finalizar_venda/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': document.querySelector('input[name="csrfmiddlewaretoken"]').value
                },
                body: JSON.stringify(saleData)
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Erro na requisição: ' + response.statusText);
                }
                return response.json();
            })
            .then(data => {
                if (data.success) {
                    $('#successModal').modal('show');
                    setTimeout(() => {
                        $('#successModal').modal('hide');
                    }, 3000);
        
                    cart = [];
                    renderCart();
                    document.getElementById('total').innerText = '0.00';
                    document.getElementById('discount').value = '0';
                    $('#numero_pedido').val(generateOrderNumber());

                    window.location.href = "{% url 'listar_caixa' %}";
                } else {
                    $('#errorModal').modal('show');
                    setTimeout(() => {
                        $('#errorModal').modal('hide');
                    }, 3000);
                }
            })
            .catch(error => {
                console.error('Erro ao processar o pagamento:', error);
                $('#errorModal').modal('show');
                setTimeout(() => {
                    $('#errorModal').modal('hide');
                }, 3000);
            })
            .finally(() => {
                $('#paymentModal').modal('hide');
            });
        }

        // Finaliza os pagamentos
        function finalizePayment() {
            let venda_id = document.getElementById('venda_id').value;
            let numero_pedido = document.getElementById('numero_pedido').value;
            let vendedor_id = document.getElementById('vendedor').value;
            let cliente_id = $('#cliente_id').val();
            let discount = parseFloat(document.getElementById('discount').value) || 0; // Convertendo para float
            let payment_method = document.getElementById('payment_method').value;
            let total = document.getElementById('total').innerText;
        
            let totalInDollars = parseFloat(total.replace('R$', '').replace('.', '').replace(',', '.'));
        
            if (!numero_pedido || !vendedor_id || !total || !payment_method) {
                alert('Algum campo obrigatório está faltando.');
                return;
            }
        
            let produtos = cart.map(item => ({
                produto_id: item.id,
                quantidade: item.quantity > 0 ? item.quantity : null,
                preco_unitario: item.price
            }));
        
            let saleData = {
                venda_id: venda_id,
                numero_pedido: numero_pedido,
                vendedor_id: vendedor_id,
                cliente_id: cliente_id,
                desconto: discount.toFixed(2), // Mantendo 2 casas decimais
                total: totalInDollars.toFixed(2),
                payment_method: payment_method,
                status: $('#paymentModal').data('saleStatus'),
                produtos: produtos
            };
        
            fetch('/caixa/finalizar_venda/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': document.querySelector('input[name="csrfmiddlewaretoken"]').value
                },
                body: JSON.stringify(saleData)
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Erro na requisição: ' + response.statusText);
                }
                return response.json();
            })
            .then(data => {
                if (data.success) {
                    $('#successModal').modal('show');
                    setTimeout(() => {
                        $('#successModal').modal('hide');
                    }, 3000);
        
                    cart = [];
                    renderCart();
                    document.getElementById('total').innerText = '0.00';
                    document.getElementById('discount').value = '0';
                    $('#numero_pedido').val(generateOrderNumber());
                } else {
                    $('#errorModal').modal('show');
                    setTimeout(() => {
                        $('#errorModal').modal('hide');
                    }, 3000);
                }
            })
            .catch(error => {
                console.error('Erro ao processar o pagamento:', error);
                $('#errorModal').modal('show');
                setTimeout(() => {
                    $('#errorModal').modal('hide');
                }, 3000);
            })
            .finally(() => {
                $('#paymentModal').modal('hide');
            });
        }
        

    </script>

{% endblock %}

{% endblock %}
