

{% extends "template.html" %}

{% load static %}
{% block title %}
    Messas / Comanda
{% endblock %}

{% block content %}
<div class="wrapper">
    {% include 'includes/sidebar.html' %}
    {% include 'includes/navbar.html' %} 

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6 d-flex align-items-center">
                        <h1 class="mr-3"> Mesas / Comanda </h1> <!-- Adicionei a classe mr-3 -->
                        <button type="button" class="btn btn-sm btn-success" data-toggle="modal" data-target="#adicionarModal">
                            Adicionar Mesa
                        </button>
                    </div>
                </div>
                
            </div><!-- /.container-fluid -->
        </section>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Lista de Mesas</h3> 
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    {% for mesa in mesas %}
                                        <div class="col-md-3">
                                            <div id="mesa-{{ mesa.id }}" class="card {% if mesa.status == 'ocupada' %}bg-warning{% else %}bg-success{% endif %} position-relative">
                                                <!-- Ícone de excluir no canto superior direito -->
                                                <a href="#" class="position-absolute top-0 end-0 p-2 text-danger" data-toggle="modal" data-target="#excluirModal" 
                                                onclick="setMesaExcluir('{{ mesa.id }}', '{{ mesa.nome }}')">
                                                <i class="fas fa-times-circle"></i> <!-- Ícone de 'X' -->
                                                </a>
                                    
                                                <div class="card-body text-center">
                                                    <h4>Mesa {{ mesa.nome }}</h4>
                                                    <p class="mesa-status">Status: {{ mesa.status }}</p>
                                                    <div class="comanda-button">
                                                        {% if mesa.status == 'livre' %}
                                                            <form action="{% url 'abrir_ou_gerenciar_comanda' mesa.id %}" method="POST">
                                                                {% csrf_token %}
                                                                <button type="submit" class="btn btn-warning btn-sm">Abrir Comanda</button>
                                                            </form>
                                                        {% else %}
                                                            {% with mesa.comanda_set.latest as comanda %}  <!-- Usando latest -->
                                                                {% if comanda %}
                                                                    <a href="{% url 'abrir_ou_gerenciar_comanda' mesa.id %}" class="btn btn-success btn-sm">Gerenciar Comanda</a>
                                                                {% else %}
                                                                    <span class="btn btn-secondary btn-sm">Sem Comanda para Gerenciar</span>
                                                                {% endif %}
                                                            {% endwith %}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
        </div> 
            
</div>
<!-- Modal para Editar Usuario -->
<div class="modal fade" id="editarModal" tabindex="-1" role="dialog" aria-labelledby="editarModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-warning">
                <h5 class="modal-title text-dark" id="editarModalLabel">Editar Mesa</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form method="POST" id="editarForm" action="{% url 'editar_cliente' 0 %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="hidden" name="cliente_id" id="cliente_id">
                    
                    <div class="form-group">
                        <button type="submit" class="btn btn-warning btn-sm w-100">Salvar Alterações</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal Detalhes -->
<div class="modal fade" id="detalhesModal" tabindex="-1" role="dialog" aria-labelledby="detalhesModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-success">
                <h5 class="modal-title" id="detalhesModalLabel">Detalhes do Cliente</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <tbody>
                            <tr>
                                <th>Nome</th>
                                <td id="detalhes_nome"></td>
                            </tr>
                            <tr>
                                <th>Data de Nacimento</th>
                                <td id="data_nascimento"></td>
                            </tr>
                            <tr>
                                <th>Email</th>
                                <td id="detalhes_email"></td>
                            </tr>
                            <tr>
                                <th>CPF</th>
                                <td id="detalhes_cpf"></td>
                            </tr>
                            <tr>
                                <th>Telefone</th>
                                <td id="detalhes_telefone"></td>
                            </tr>
                            <tr>
                                <th>Endereço</th>
                                <td id="detalhes_endereco"></td>
                            </tr>
                            <tr>
                                <th>Cidade</th>
                                <td id="detalhes_cidade"></td>
                            </tr>
                            <tr>
                                <th>Estado</th>
                                <td id="detalhes_estado"></td>
                            </tr>
                            <tr>
                                <th>CEP</th>
                                <td id="detalhes_cep"></td>
                            </tr>
                            <tr>
                                <th>Status</th>
                                <td id="detalhes_status"></td>
                            </tr>
                            <tr>
                                <th>Limite de Crédito</th>
                                <td id="limite_credito"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para Adicionar mesas -->
<div class="modal fade" id="adicionarModal" tabindex="-1" role="dialog" aria-labelledby="adicionarModalLabel" aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header bg-success">
                <h5 class="modal-title text-light" id="adicionarModalLabel">Adicionar Mesa</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Formulário de mesas -->
                <form id="usuarioForm" method="post" action="{% url 'cadastrar_mesa' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                
                    {{ form.as_p }}
                
                    <!-- Botão de Enviar -->
                    <button type="submit" class="btn btn-success w-100">Cadastrar Mesa</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal para Excluir Mesa -->
<div class="modal fade" id="excluirModal" tabindex="-1" role="dialog" aria-labelledby="excluirModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <h5 class="modal-title text-light" id="excluirModalLabel">Excluir Mesa</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Você tem certeza que deseja excluir esta mesa: <strong id="mesaNome"></strong>?</p>
                <form method="post" id="excluirForm" action="">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger w-100">Excluir</button>
                </form>
            </div>
        </div>
    </div>
</div>



{% block extra_scripts %}

<script>
    function setMesaExcluir(mesaId, mesaNome) {
        // Atualiza o nome da mesa na modal
        document.getElementById('mesaNome').textContent = mesaNome;

        // Atualiza o formulário com a URL da exclusão
        var excluirForm = document.getElementById('excluirForm');
        excluirForm.action = "{% url 'excluir_mesa' '0' %}".replace('0', mesaId); // Substitui '0' pelo id da mesa
    }
</script>
   
{% endblock %}

{% endblock %}


                